body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5454c2; /* Fondo azul oscuro */
    margin: 0;
}
.container {
    text-align: center;
}

.frame-container {
    margin: 20px;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.frame {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: rosybrown;
}

.frame.square {
    border-radius: 0;
}

.frame.circle {
    border-radius: 50%;
}

.frame.heart {
    object-fit: cover;
    clip-path: url(#myPath)
}

#uploadedImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center;
    cursor: grab;
    filter: opacity(0.99) brightness(115%) grayscale(1);

}

#uploadedImage:active {
    cursor: grabbing;
}

.controls {
    margin-top: 20px;
}

button {
    margin: 5px;
    cursor: pointer;
}

.frame-upper{
    background-image : url('heart.png');
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 364.183px;
    height: 314.311px;
    left: 0px;
    top: 0px;
    touch-action: none;
    user-select: none;
    display: block;
    cursor: move;
}